<main>
  <section>
    <h2>Buttons</h2>

    <article>
      <h4>Button01</h4>
      <p>Reuseabel Button aus YT-Video von Johannes Schiel</p>

      <div class="component-container">
        <app-button01
          (buttonClick)="doSomething($event)"
          [theme]="Button01Theme.prime"
          [disabled]="false"
          [label]="'Custom Button'"
        ></app-button01>

        <app-button01
          (buttonClick)="doSomething($event)"
          [theme]="Button01Theme.secondary"
          [disabled]="false"
          [label]="'Custom Button'"
        ></app-button01>

        <app-button01
          (buttonClick)="doSomething($event)"
          [theme]="Button01Theme.secondary"
          [disabled]="true"
          [label]="'Custom Button'"
        ></app-button01>
      </div>
    </article>

    <article>
      <h4>Button02</h4>
      <p>Beschreibungen stehen hier</p>

      <div class="component-container">
        <button
          appButton02
          (buttonClick)="doSomething($event)"
          theme="Button01Theme.prime"
          [label]="'The Custom Button'"
        ></button>

        <!-- <a
          href="#"
          appButton02
          (buttonClick)="doSomething($event)"
          [theme]="Button01Theme.prime"
          disabled="false"
          [label]="'Second Custom Button'"
        ></a> -->
      </div>
    </article>
  </section>

  <section>
    <h2>Überschrift</h2>
  </section>
</main>
